<div id="account_manage_page">
    <!--start-->
    <ol class="breadcrumb">
        <li><a>运维</a></li>
        <li class="active">账户管理</li>
    </ol>
    <div class="main-box main-box-noborder overflow-hidden" style="padding-top: 12px">
        <table class="table-style-1 table-style-1-a table-hover mb-0-5" id="account_Table">
            <thead>
            <tr class="sch">
                <td style="width: 165px;" align="center">
                    <div class="t">帐号<span class="sort-ico" style="padding-right:55px;"><i class="icon-caret-up"></i><i class="icon-caret-down"></i></span></div>
                    <div class="form-group float-none j_bubble text-left">
                        <input class="form-control" type="text" name="account_id_q" id="account_id_q" placeholder="请输入帐号" maxlength="20">
                    </div>
                </td>
                <td style="width: 140px;" align="center">
                    <div class="t text-left" >姓名
                        <span class="sort-ico" style="padding-right:45px;"><i class="icon-caret-up"></i><i class="icon-caret-down"></i></span>
                    </div>
                    <div class="form-group float-none j_bubble">
                        <input class="form-control" type="text" name="name_q" id="name_q" placeholder="请输入姓名" maxlength="20">
                    </div>
                </td>
                <td style="width: 100px;" align="center">
                    <div class="t">性别<span class="sort-ico" style="padding-right:20px;"><i class="icon-caret-up"></i><i class="icon-caret-down"></i></span></div>
                    <div class="form-group float-none j_bubble">
                        <select class="form-control" id="sex_q" name="sex_q">
                            <option value="">请选择</option>
                            <option value="男">男</option>
                            <option value="女">女</option>
                        </select>
                    </div>
                </td>
                <td style="width: 85px;" align="center">
                    <div class="t">角色<span class="sort-ico" style="padding-right:18px;"><i class="icon-caret-up"></i><i class="icon-caret-down"></i></span></div>
                    <div class="form-group float-none j_bubble text-left">
                        <select class="form-control" id="part_q" name="part_q">
                            <option value="">全部</option>
                            <option value="10001">教师</option>
                            <option value="10002">学生</option>
                            <option value="10000">管理员</option>
                        </select>
                    </div>
                </td>
                <td style="width: 100px;" align="center">
                    <div class="t">状态<span class="sort-ico" style="padding-right:20px;">
                        <i class="icon-caret-up"></i><i class="icon-caret-down"></i></span></div>
                    <div class="form-group float-none j_bubble text-left">
                        <select class="form-control" id="status_q" name="status_q">
                            <option value="">请选择</option>
                            <option value="1">正常</option>
                            <option value="2">删除</option>
                        </select></div>
                </td>
                <td style="width: 65px;" align="center">
                    <div class="t">操作</div>
                    <button class="btn btn-success float-none j_bubble" type="button" id="employeeSeatchBut">搜索
                    </button>
                </td>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
        <nav class="pagination-wrap clearfix">
            <div class="ml-2 mt-1 mb-2">
                <a class="form-btn-upload" id="addStaffModal" data-toggle="modal"><i class="icon-plus-sign"></i>添加新用户</a>
            </div>
        </nav>
    </div>


    <!-- 添加账户弹出框 -->
    <div class="modal modal-noline fade" id="addAccountModal" tabindex="-1" role="dialog" aria-labelledby="addAccountModalLabel" aria-hidden="true">
        <div class="modal-outer">
            <div class="modal-middle">
                <div class="modal-dialog modal-inner w-65 float-none">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"></button>
                        </div>
                        <div class="modal-body p-1 pt-3 pl-5">
                            <form class="form-horizontal" action="" method="post"   id="add_account_form">
                                <input id="seq_no" type="hidden" name="seq_no">
                                <div class="form-group ">
                                    <label class="control-label w-9">用户角色：</label>
                                    <div class="w-40 relative">
                                        <label class="radio-inline pr-1"><input type="radio" name="part" value="1" data-rule="角色:required;">教师</label>
                                        <label class="radio-inline pr-1"><input type="radio" name="part" value="2" data-rule="角色:required;" checked>学生</label>
                                        <label class="radio-inline pr-1"><input type="radio" name="part" value="3" data-rule="角色:required;">管理员</label>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label class="control-label w-9">用户编号：</label>
                                    <div class="w-40 relative">
                                        <input id="account_id" class="form-control w-32" type="text" name="account_id" maxlength="20" placeholder="系统自动生成" disabled>
                                    </div>
                                </div>
                                <tr>
                                    <td align="left" class="style_or" style="padding: 0% 0% 1% 41%;">上传头像:</td>
                                    <td class="msg text-gray-lighter font-12 mt-0-5" >
                                        <div class="w-70 ml-9 float-none clearfix" style="margin: 8px 0px 0 84px;width: 68px">
                                            <ul class="alert-policy-01 pull-left clearfix" id="img_cover_ul">
                                            </ul>
                                            <div class="roompic-upload w-12" >
                                                <textarea style="display:none;" id="img_url" hidden></textarea>
                                                <a id="add_top_img" href="#" class="form-btn-upload"><i class="icon-plus-sign" ></i>添加照片</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <div class="form-group ">
                                    <label class="control-label w-9">姓名：</label>
                                    <div class="w-40 relative">
                                        <input id="name" class="form-control" type="text" name="name" data-rule="姓名:required;" placeholder="请输入姓名" maxlength="20">
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label class="control-label w-9">性别：</label>
                                    <div class="w-40 relative">
                                        <select class="form-control" name="sex" id="sex" data-rule="性别:required;">
                                            <option value="男">男</option>
                                            <option value="女">女</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label class="control-label w-9">密码：</label>
                                    <div class="w-40 relative">
                                        <input id="password" class="form-control" type="text" name="password" data-rule="密码:required;" placeholder="请输入密码" minlength="3" maxlength="20" onkeyup="this.value=this.value.replace(/[^\w_]/g,'');">
                                    </div>
                                </div>
                                <div class="form-group " id="addclass">
                                    <label class="control-label w-9">班级：</label>
                                    <div class="w-18 relative" id="class">
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label class="control-label w-9"></label>
                                    <div class="w-18 relative">
                                        <a href="javascript:void(0);" class="btn btn-success font-14 ml-0-5" style="width: 70px" id="addclassbtn">添加</a>
                                    </div>
                                </div>
                                <div class="modal-footer text-center pb-2">
                                    <button type="button" class="btn btn-default btn-default-green w-14 font-16 float-none" data-dismiss="modal" id="add_account_cancel">取消</button>
                                    <button id="save_account" type="button" class="btn btn-success w-14 font-16 float-none ml-2">保存</button>
                                </div>

                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 弹出删除确认信息 -->
    <div style="width: 30%;margin: 0 auto" class="modal modal-noline fade" id="sureDel" tabindex="-1" role="dialog"
         aria-labelledby="sureDelLabel" aria-hidden="true">
        <div class="modal-middle">
            <div class="modal-dialog-notice modal-inner">
                <div class="modal-content">
                    <div class="background-grey-2 p-1 indent-1 modal-dialog-notice-radius">
                        <span class="font-20 wryh text-zdy-2">信息确认：</span>
                    </div>
                    <div class="p-3">
                        <p class="text-center font-18 wryh text-gray-light">确认要删除该员工信息吗？</p>

                        <div class="modal-footer text-center pb-2">
                            <button type="button" class="btn btn-default btn-default-blue font-16 float-none"
                                    data-dismiss="modal">取消
                            </button>
                            <button type="button" class="btn btn-primary font-16 float-none ml-1" id="confirmDialog"
                                    data-dismiss="modal">确定
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 弹出重置密码确认信息 -->
    <div style="width: 30%;margin: 0 auto" class="modal modal-noline fade" id="sureReset" tabindex="-1" role="dialog"
         aria-labelledby="sureDelLabel" aria-hidden="true">
        <div class="modal-middle">
            <div class="modal-dialog-notice modal-inner">
                <div class="modal-content">
                    <div class="background-grey-2 p-1 indent-1 modal-dialog-notice-radius">
                        <span class="font-20 wryh text-zdy-2">信息确认：</span>
                    </div>
                    <div class="p-3">
                        <p class="text-center font-18 wryh text-gray-light">确认要重置该员工密码为'123456'吗？</p>

                        <div class="modal-footer text-center pb-2">
                            <button type="button" class="btn btn-default btn-default-blue font-16 float-none"
                                    data-dismiss="modal">取消
                            </button>
                            <button type="button" class="btn btn-primary font-16 float-none ml-1" id="resetPassword"
                                    data-dismiss="modal">确定
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--    &lt;!&ndash; 表格共通&ndash;&gt;-->
        <script src="js/table-ajax.js"></script>
    <!--私有js-->
    <script src="js/backstage/account_manage.js"></script>
    <!--end-->
</div>