<div id="class_audio_page">
    <!--start-->
    <ol class="breadcrumb">
        <li><a href="index.html">运维</a></li>
        <li class="active">课堂语音回顾</li>
    </ol>
    <div class="main-box main-box-noborder overflow-hidden" style="padding-top: 12px">
        <table class="table-style-1 table-style-1-a table-hover mb-0-5" id="audio_Table">
            <thead>
            <tr class="sch">
                <td style="width: 15%;" align="center">
                    <div class="t text-left" >课程编号
                    <span class="sort-ico" style="padding-right:98px;"><i class="icon-caret-up"></i><i class="icon-caret-down"></i></span>
                    </div>
                    <div class="form-group float-none j_bubble">
                        <input class="form-control" type="text" name="" id="audio_number" placeholder="" maxlength="20">
                    </div>
                </td>
                <td style="width: 15%;" align="center">
                    <div class="t">课程名<span class="sort-ico" style="padding-right:108px;"><i class="icon-caret-up"></i><i class="icon-caret-down"></i></span></div>
                    <div class="form-group float-none j_bubble">
                        <input class="form-control" type="text" name="" id="class_name" maxlength="20">
                    </div>
                </td>
                <td width="50%" align="center" class="sorting" tabindex="0" aria-controls="product_searchTab" rowspan="1" colspan="1" aria-label="
                创建时间: activate to sort column ascending" style="width: 113px;">
                    <div class="t" style="padding-right: 10px;">上课时间<span class="sort-ico" style="padding-right:78px"><i class="icon-caret-up"></i><i class="icon-caret-down"></i></span></div>
                    <div class="controls j_bubble input-append date form_datetime" data-date-format="yyyy-mm-dd hh:ii" data-link-field="dtp_input1">
                        <input type="text" class="form-control input-xs datepicker" placeholder="开始" id="search_s">
                        <input type="text" class="form-control mt-1 input-xs datepicker" placeholder="结束" id="search_e">
                    </div>
                </td>
                <td style="width: 20%;" align="center">
                    <div class="t">操作</div>
                    <button class="btn btn-success float-none j_bubble" type="button" id="employeeSeatchBut">搜索
                    </button>
                </td>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
        <nav class="pagination-wrap clearfix" style="height: 20px;margin-top:-22px">
        </nav>
    </div>


    <!--课堂语音播放下载-->
    <div class="modal modal-noline fade" id="showAudioModal" tabindex="-1" role="dialog" aria-labelledby="addAccountModalLabel" aria-hidden="true">
        <div class="modal-outer">
            <div class="modal-middle">
                <div class="modal-dialog modal-inner w-65 float-none">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"></button>
                        </div>
                        <div class="modal-body p-1 pt-3 pl-5">
                            <form class="form-horizontal" action="" method="post"   id="add_account_form">
                                <input id="account_id" type="hidden" name="account_id">
                                <div class="form-group ">
                                    <label id="audioAreaLab" class="control-label w-9" style="font-size: 29px;width: 135px;"></label>
                                </div>
                                <div id="dudio" class="form-group ">
                                    <!--<audio src="/upload/62f43900-c1b6-11e6-a829-d9a66601e202.mp3" style="margin: -18px 0px -8px 37px;width: 477px;" controls="controls">您的浏览器不支持audio标签，请使用更新版本的浏览器。</audio>-->
                                </div>
                                <div class="modal-footer text-center pb-2">
                                    <button type="button" class="btn btn-default btn-default-green w-14 font-16 float-none" data-dismiss="modal" id="play_audio_cancel">关闭</button>
                                    <button id="del_class" type="button" class="btn btn-success w-14 font-16 float-none ml-2">下载</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--    &lt;!&ndash; 表格共通-->
        <script src="js/table-ajax.js"></script>
    <!--私有js-->
    <script src="js/backstage/class_audio.js"></script>
    <!--end-->
</div>