<div id="class_media_page">
    <!--start-->
    <ol class="breadcrumb">
        <li><a href="index.html">运维</a></li>
        <li class="active">课堂多媒体资料回顾</li>
    </ol>
    <div class="main-box main-box-noborder overflow-hidden" style="padding-top: 12px">
        <table class="table-style-1 table-style-1-a table-hover mb-0-5" id="class_media_Table">
            <thead>
            <tr class="sch">
                <td style="width: 15%;" align="center">
                    <div class="t text-left" >课程名
                        <span class="sort-ico" style="padding-right:57px;"><i class="icon-caret-up"></i><i class="icon-caret-down"></i></span>
                    </div>
                    <div class="form-group float-none j_bubble">
                        <input class="form-control" type="text" name="nameIn" id="nameIn" placeholder="" maxlength="20">
                    </div>
                </td>
                <td style="width: 15%;" align="center">
                    <div class="t">课程编号<span class="sort-ico" style="padding-right:50px;"><i class="icon-caret-up"></i><i class="icon-caret-down"></i></span></div>
                    <div class="form-group float-none j_bubble">
                        <input class="form-control" type="text" name="numIn" id="numIn" maxlength="20">
                    </div>
                </td>
                <td width="15%" align="center" class="sorting" tabindex="0" aria-controls="product_searchTab" rowspan="1" colspan="1" aria-label="
                创建时间: activate to sort column ascending">
                    <div class="t" style="padding-right: 10px;">创建时间<span class="sort-ico" style="padding-right:56px"><i class="icon-caret-up"></i><i class="icon-caret-down"></i></span></div>
                    <div class="form-group j_bubble j_datebetween">
                        <input type="text" class="form-control input-xs j_datepicker" placeholder="开始" id="search_s">
                        <input type="text" class="form-control mt-1 input-xs j_datepicker" placeholder="结束" id="search_e">
                    </div>
                </td>
                <td width="15%" align="center" class="sorting" tabindex="0" aria-controls="product_searchTab" rowspan="1" colspan="1" aria-label="
                创建时间: activate to sort column ascending" >
                    <div class="t" style="padding-right: 10px;">上课时间<span class="sort-ico" style="padding-right:56px"><i class="icon-caret-up"></i><i class="icon-caret-down"></i></span></div>
                    <div class="form-group j_bubble j_datebetween">
                        <input type="text" class="form-control input-xs j_datepicker" placeholder="开始" id="class_s">
                        <input type="text" class="form-control mt-1 input-xs j_datepicker" placeholder="结束" id="class_e">
                    </div>
                </td>
                <td style="width: 10%;" align="center">
                    <div class="t text-left" >课程状态
                        <span class="sort-ico" style="padding-right:21px;"><i class="icon-caret-up"></i><i class="icon-caret-down"></i></span>
                    </div>
                    <select class="form-control" id="status_q" name="status_q">
                        <option value="">全部</option>
                        <option value="1">已上</option>
                        <option value="2">未上</option>
                    </select>
                </td>
                <td style="width: 15%;" align="center">
                    <div class="t">操作</div>
                    <button class="btn btn-success float-none j_bubble" type="button" id="employeeSeatchBut">搜索
                    </button>
                </td>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
        <nav class="pagination-wrap clearfix" style="height: 20px;margin-top:-22px">
        </nav>
    </div>
    <!--    &lt;!&ndash; 表格共通&ndash;&gt;
        <script src="js/table-ajax.js"></script>-->
    <!--私有js-->
    <script src="js/backstage/class_media.js"></script>
    <!--end-->
</div>