<div id="course_add_page">
    <!--start-->
    <ol class="breadcrumb">
        <li><a href="index.html">语言课堂管理</a></li>
        <li class="active">添加课程</li>
    </ol>
    <div class="main-box main-box-noborder overflow-hidden" style="padding-top: 12px">
            <div class="modal-body p-1 pt-3 pl-5">
                <form class="form-horizontal" action="" method="post"   id="add_account_form" style="margin-top: -28px">
                    <input id="account_id" type="hidden" name="account_id">
                    <div class="form-group ">
                        <label id="areaLab" class="control-label w-9" style="font-size: 29px;width: 135px;"></label>
                    </div>
                    <div class="form-group ">
                        <label class="control-label w-9">课程名：</label>
                        <div class="w-40 relative">
                            <input id="class_name" class="form-control w-32" type="text" name="account_id" maxlength="20" >
                        </div>
                    </div>
                    <div class="form-group ">
                        <label class="control-label w-9">上课班级：</label>
                        <div class="w-40 relative">
                            <input id="take_lass" class="form-control w-32" type="text" name="account_id" maxlength="20" >
                        </div>
                    </div>
                    <div class="form-group ">
                        <label class="control-label w-9">上课时间：</label>
                        <div class="w-40 relative">
                            <input id="class_Time" class="form-control w-32" type="text" name="account_id" maxlength="20" >
                        </div>
                    </div>
                    <div class="form-group ">
                        <label class="control-label w-9">关联资料：</label>
                        <div class="w-40 relative">
                            <div class="form-control w-32" name="account_id" style="width: 120px;background: #e6e6e6;margin-right:10px">mp3</div>
                            <div class="ml-2 mt-1 mb-2" style="margin: 42px 0px 0px 0px">
                                <a href="course_add" target="_blank" class="form-btn-upload" id="addmap" data-toggle="modal"><i class="icon-plus-sign"></i>添加资料</a>
                            </div>
                        </div>
                    </div>
                    <div class="form-group ">
                        <label class="control-label w-9">关联考题：</label>
                        <div class="w-40 relative">
                            <div class="form-control w-32" name="account_id" style="width: 120px;background: #e6e6e6;margin-right:10px">题库1</div>
                            <div class="ml-2 mt-1 mb-2" style="margin: 42px 0px 0px 0px">
                                <a href="course_add" target="_blank" class="form-btn-upload" id="addmap" data-toggle="modal"><i class="icon-plus-sign"></i>添加题目</a>
                            </div>
                        </div>
                    </div>
                    <div class="form-group ">
                        <label class="control-label w-9">课堂音频：</label>
                        <div style="margin-top: 7px;">无</div>
                    </div>
                    <div class="modal-footer text-center pb-2">
                        <button type="button" class="btn btn-default btn-default-green w-14 font-16 float-none" data-dismiss="modal" id="add_account_cancel">取消</button>
                        <button id="save_map" type="button" class="btn btn-success w-14 font-16 float-none ml-2">保存</button>
                    </div>
                </form>
            </div>
        <nav class="pagination-wrap clearfix" style="height: 20px;margin-top:-22px">
        </nav>
    </div>

    <!--    &lt;!&ndash; 表格共通&ndash;&gt;
        <script src="js/table-ajax.js"></script>-->
    <!--私有js-->
    <script src="js/backstage/course_manage.js"></script>
    <!--end-->
</div>