<div id="course_add_page">
    <!--start-->
    <ol class="breadcrumb">
        <li><a href="index.html">语言课堂管理</a></li>
        <li class="active">添加课程</li>
    </ol>
    <div class="main-box main-box-noborder overflow-hidden" style="padding-top: 12px">
        <div class="modal-body p-1 pt-3 pl-5">
            <form class="form-horizontal" action="" method="post"   id="add_account_form" style="margin-top: -28px">
                <input id="seq_no" type="" name="seq_no" value="<%=seq_no%>">
                <div class="form-group ">
                    <label id="areaLab" class="control-label w-9" style="font-size: 29px;width: 135px;"></label>
                </div>
                <div class="form-group ">
                    <label class="control-label w-9">课程名：</label>
                    <div class="w-40 relative">
                        <input id="class_name_" class="form-control w-32" type="text" name="account_id" maxlength="20" >
                    </div>
                </div>
                <div class="form-group ">
                    <label class="control-label w-9">上课时间：</label>
                    <div class="w-40 relative">
                        <input id="class_Time_" class="form-control w-32" type="text" name="account_id" maxlength="20" >
                    </div>
                </div>
                <div class="form-group ">
                    <label class="control-label w-9">上课班级：</label>
                    <div id="class_tbody_" class="w-40 relative" style="width: 80%">
                    </div>
                </div>
                <div class="form-group " style="margin-top: 5px;">
                    <label class="control-label w-9"></label>
                    <div class="w-9 relative" style="height:21px;margin-top: -18px">
                        <div class="ml-2 mt-1 mb-2" style="margin: 5px 0px 0px 0px">
                            <a class="form-btn-upload" id="addClass" data-toggle="modal"><i class="icon-plus-sign"></i>添加班级</a>
                        </div>
                    </div>
                </div>
                <div class="form-group ">
                    <label class="control-label w-9">关联资料：</label>
                    <div id="data_tbody_" class="w-40 relative" style="width: 80%">
                    </div>
                </div>
                <div class="form-group " style="margin-top: 5px;">
                    <label class="control-label w-9"></label>
                    <div class="w-9 relative" style="height:21px;margin-top: -18px">
                        <div class="ml-2 mt-1 mb-2" style="margin: 5px 0px 0px 0px">
                            <a class="form-btn-upload" id="addData" data-toggle="modal"><i class="icon-plus-sign"></i>添加资料</a>
                        </div>
                    </div>
                </div>
                <div class="form-group ">
                    <label class="control-label w-9">关联考题：</label>
                    <div id="question_tbody_" class="w-40 relative" style="width: 80%">
                    </div>
                </div>
                <div class="form-group " style="margin-top: 5px;">
                    <label class="control-label w-9"></label>
                    <div class="w-9 relative" style="height:21px;margin-top: -18px">
                        <div class="ml-2 mt-1 mb-2" style="margin: 5px 0px 0px 0px">
                            <a class="form-btn-upload" id="addQuestion" data-toggle="modal"><i class="icon-plus-sign"></i>添加题目</a>
                        </div>
                    </div>
                </div>
                <div class="form-group ">
                    <label class="control-label w-9">课堂音频：</label>
                    <div style="margin-top: 7px;">无</div>
                </div>
                <div class="modal-footer text-center pb-2">
                    <button type="button" class="btn btn-default btn-default-green w-14 font-16 float-none" onclick="CloseWebPage()" data-dismiss="modal" id="">取消</button>
                    <button id="save_data" type="button" class="btn btn-success w-14 font-16 float-none ml-2">保存</button>
                </div>
            </form>
        </div>
        <nav class="pagination-wrap clearfix" style="height: 20px;margin-top:-22px">
        </nav>
    </div>
    <!--班级弹窗-->
    <div class="modal modal-noline fade" id="addClassModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
        <div class="modal-outer">
            <div class="modal-middle">
                <div class="modal-dialog modal-inner w-65 float-none">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"></button>
                        </div>
                        <div class="modal-body p-1 pt-3 pl-5">
                            <form class="form-horizontal" action="" method="post"   id="add_class_form">
                                <input id="account_id" type="hidden" name="account_id">
                                <div class="form-group ">
                                    <label class="control-label w-9" style="font-size: 29px;width: 135px;">添加班级</label>
                                </div>
                                <div class="form-group ">
                                    <label class="control-label w-9">班级：</label>
                                    <div class="w-40 relative">
                                        <select id="classelect" class="form-control w-32">
                                        </select>
                                    </div>
                                </div>
                                <div class="modal-footer text-center pb-2">
                                    <button type="button" class="btn btn-default btn-default-green w-14 font-16 float-none" data-dismiss="modal" id="">取消</button>
                                    <button id="save_class" type="button" class="btn btn-success w-14 font-16 float-none ml-2">保存</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--资料弹窗-->
    <div class="modal modal-noline fade" id="addDataModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
        <div class="modal-outer">
            <div class="modal-middle">
                <div class="modal-dialog modal-inner w-65 float-none">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"></button>
                        </div>
                        <div class="modal-body p-1 pt-3 pl-5" style="padding:0px 0px 0px 0px">
                            <form class="form-horizontal" action="" method="post"   id="" >
                                <input id="account_id" type="hidden" name="account_id">
                                <div class="form-group ">
                                    <label class="control-label w-9" style="font-size: 29px;width: 135px;">添加资料</label>
                                </div>
                                <div class="main-box main-box-noborder overflow-hidden" style="padding-top: 12px">
                                    <table class="table-style-1 table-style-1-a table-hover mb-0-5" id="course_add_Table" style="margin-top: -47px">
                                        <thead>
                                        <tr class="sch">
                                            <td style="width: 28%;" align="center">
                                                <div class="t text-left" style="margin-top: 24px;" >资料名
                                                    <span class="sort-ico" style="padding-right:62px;"><i class="icon-caret-up"></i><i class="icon-caret-down"></i></span>
                                                </div>
                                                <div class="form-group float-none j_bubble">
                                                    <input class="form-control" type="text" name="nameIn" id="nameIn_" placeholder="" maxlength="20">
                                                </div>
                                            </td>
                                            <td style="width: 28%;" align="center">
                                                <div class="t" style="margin-top: 24px;">公开<span class="sort-ico" style="padding-right:44px;"><i class="icon-caret-up"></i><i class="icon-caret-down"></i></span></div>
                                                <div class="form-group float-none j_bubble">
                                                    <input class="form-control" type="text" name="numIn" id="public_" maxlength="20">
                                                </div>
                                            </td>
                                            <td width="28%" align="center" class="sorting" tabindex="0" aria-controls="product_searchTab" rowspan="1" colspan="1" aria-label="创建时间: activate to sort column ascending">
                                                <div class="t" style="padding-right: 10px;margin-top: 24px;">上传时间<span class="sort-ico" style="padding-right:72px"><i class="icon-caret-up"></i><i class="icon-caret-down"></i></span></div>
                                                <div class="form-group j_bubble j_datebetween">
                                                    <input type="text" class="form-control input-xs j_datepicker" placeholder="开始" id="search_s_">
                                                    <input type="text" class="form-control mt-1 input-xs j_datepicker" placeholder="结束" id="search_e_">
                                                </div>
                                            </td>
                                            <td style="width: 16%;" align="center">
                                                <div class="t" style="margin-top: 24px;">选择</div>
                                                <button class="btn btn-success float-none j_bubble" type="button" id="SeatchBut">搜索
                                                </button>
                                            </td>
                                        </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                    <nav class="pagination-wrap clearfix" style="height: 20px;margin-top:-22px">
                                    </nav>
                                </div>
                                <div class="modal-footer text-center pb-2">
                                    <button type="button" class="btn btn-default btn-default-green w-14 font-16 float-none" data-dismiss="modal" id="">取消</button>
                                    <button id="new_data" type="button" class="btn btn-success w-14 font-16 float-none ml-2">确定</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--题库弹窗-->
    <div class="modal modal-noline fade" id="addQuestionModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
        <div class="modal-outer">
            <div class="modal-middle">
                <div class="modal-dialog modal-inner w-65 float-none">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"></button>
                        </div>
                        <div class="modal-body p-1 pt-3 pl-5" style="padding:0px 0px 0px 0px">
                            <form class="form-horizontal" action="" method="post"   id="" >
                                <input id="account_id" type="hidden" name="account_id">
                                <div class="form-group ">
                                    <label class="control-label w-9" style="font-size: 29px;width: 135px;">添加题库</label>
                                </div>
                                <div class="main-box main-box-noborder overflow-hidden" style="padding-top: 12px">
                                    <table class="table-style-1 table-style-1-a table-hover mb-0-5" id="course_add_Table" style="margin-top: -47px">
                                        <thead>
                                        <tr class="sch">
                                            <td style="width: 28%;" align="center">
                                                <div class="t text-left" style="margin-top: 24px;" >题库名
                                                    <span class="sort-ico" style="padding-right:62px;"><i class="icon-caret-up"></i><i class="icon-caret-down"></i></span>
                                                </div>
                                                <div class="form-group float-none j_bubble">
                                                    <input class="form-control" type="text" name="QnameIn" id="" placeholder="" maxlength="20">
                                                </div>
                                            </td>
                                            <td style="width: 28%;" align="center">
                                                <div class="t" style="margin-top: 24px;">公开<span class="sort-ico" style="padding-right:44px;"><i class="icon-caret-up"></i><i class="icon-caret-down"></i></span></div>
                                                <div class="form-group float-none j_bubble">
                                                    <input class="form-control" type="text" name="" id="" maxlength="20">
                                                </div>
                                            </td>
                                            <td width="28%" align="center" class="sorting" tabindex="0" aria-controls="product_searchTab" rowspan="1" colspan="1" aria-label="创建时间: activate to sort column ascending">
                                                <div class="t" style="padding-right: 10px;margin-top: 24px;">上传时间<span class="sort-ico" style="padding-right:72px"><i class="icon-caret-up"></i><i class="icon-caret-down"></i></span></div>
                                                <div class="form-group j_bubble j_datebetween">
                                                    <input type="text" class="form-control input-xs j_datepicker" placeholder="开始" id="search_s_">
                                                    <input type="text" class="form-control mt-1 input-xs j_datepicker" placeholder="结束" id="search_e_">
                                                </div>
                                            </td>
                                            <td style="width: 16%;" align="center">
                                                <div class="t" style="margin-top: 24px;">选择</div>
                                                <button class="btn btn-success float-none j_bubble" type="button" id="SeatchBut">搜索
                                                </button>
                                            </td>
                                        </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                    <nav class="pagination-wrap clearfix" style="height: 20px;margin-top:-22px">
                                    </nav>
                                </div>
                                <div class="modal-footer text-center pb-2">
                                    <button type="button" class="btn btn-default btn-default-green w-14 font-16 float-none" data-dismiss="modal" id="">取消</button>
                                    <button id="new_question" type="button" class="btn btn-success w-14 font-16 float-none ml-2">确定</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--    &lt;!&ndash; 表格共通&ndash;&gt;
        <script src="js/table-ajax.js"></script>-->
    <script>
        function CloseWebPage(){
            $(".nav-main ul .close-page").trigger("click");
        }
        $('.close').on('click',function(){
            $("#addClassModal").modal('hide');
            $("#addDataModal").modal('hide');
            $("#addQuestionModal").modal('hide');
        })
    </script>
    <!--私有js-->
    <script src="js/backstage/course_add.js"></script>
    <!--end-->
</div>