<div id="group_audio_page">
    <!--start-->
    <ol class="breadcrumb">
        <li><a href="index.html">运维</a></li>
        <li class="active">分组语音对话回顾</li>
    </ol>
    <div class="main-box main-box-noborder overflow-hidden" style="padding-top: 12px">
        <div class="modal-body p-1 pt-3 pl-5">
            <div class="form-group ">
                <select class="form-control" id="slc_class" name="" style="width: 15%;margin: -21px 0px 14px -26px;float: left">
                    <option value="9999">请选择班级</option>
                </select>
            </div>
            <form class="form-horizontal" action="" method="post"   id="group_audio_form" style="margin-top: -28px">
                <a  class="ceshi_" href="javascript:void(0);">1235</a>
            </form>
        </div>
        <nav class="pagination-wrap clearfix" style="height: 20px;margin-top:-22px">
        </nav>
    </div>
    <script>
        $(".ceshi_").on("click",function(){
            debugger;
            window.open("/upload/d01c0e00-c741-11e6-bbce-ef207f59fdb2.txt");
        })
    </script>
     <!--&lt;!&ndash; 表格共通&ndash;&gt;-->
        <script src="js/table-ajax.js"></script>
    <!--私有js-->
    <script src="js/backstage/group_audio.js"></script>
    <!--end-->
</div>