<div id="group_audio_page">
    <!--start-->
    <ol class="breadcrumb">
        <li><a href="index.html">运维</a></li>
        <li class="active">分组语音对话回顾</li>
    </ol>
    <div class="main-box main-box-noborder overflow-hidden" style="padding-top: 12px">
        <div class="modal-body p-1 pt-3 pl-5">
            <div class="form-group ">
                <select class="form-control" id="slc_class" name="" style="width: 15%;margin: -21px 0px 14px -26px;float: left;position: relative;z-index: 2;">
                    <option value="9999">请选择班级</option>
                </select>
            </div>
            <form class="form-horizontal" action="" method="post"   id="group_audio_form" style="margin-top: -28px">
            </form>
            <div class="form-group ">
                <div id="remide" style="color: #666;"></div>
            </div>
        </div>
        <nav class="pagination-wrap clearfix" style="height: 20px;margin-top:-22px">
        </nav>
    </div>
     <!--&lt;!&ndash; 表格共通&ndash;&gt;-->
        <script src="js/table-ajax.js"></script>
    <!--私有js-->
    <script src="js/backstage/group_audio.js"></script>
    <!--end-->
</div>