<div id="operation_record_page">
    <!--start-->
    <ol class="breadcrumb">
        <li><a href="index.html">运维</a></li>
        <li class="active">操作日志维护</li>
    </ol>
    <div class="main-box main-box-noborder overflow-hidden" style="padding-top: 12px">
        <table class="table-style-1 table-style-1-a table-hover mb-0-5" id="operation_Table">
            <thead>
            <tr class="sch">
                <td style="width: 102px;;" align="center">
                    <div class="t text-left" >编号
                    <span class="sort-ico" style="padding-right:25px;"><i class="icon-caret-up"></i><i class="icon-caret-down"></i></span>
                    </div>
                    <div class="form-group float-none j_bubble">
                        <input class="form-control" type="text" name="seq_no_q" id="seq_no_q" placeholder="" maxlength="20">
                    </div>
                </td>
                <td style="width: 146px;" align="center">
                    <div class="t">操作人名<span class="sort-ico" style="padding-right:40px;"><i class="icon-caret-up"></i><i class="icon-caret-down"></i></span></div>
                    <div class="form-group float-none j_bubble">
                        <input class="form-control" type="text" name="operator_name_q" id="operator_name_q" maxlength="20">
                    </div>
                </td>
                <td style="width: 146px;" align="center">
                    <div class="t">操作类型<span class="sort-ico" style="padding-right:40px;"><i class="icon-caret-up"></i><i class="icon-caret-down"></i></span></div>
                    <div class="form-group float-none j_bubble">
                        <input class="form-control" type="text" name="operation_type_q" id="operation_type_q" maxlength="20">
                    </div>
                </td>
                <td style="width: 227px;"  align="center" class="sorting" tabindex="0" aria-controls="product_searchTab" rowspan="1" colspan="1" aria-label="
                创建时间: activate to sort column ascending" style="width: 90px;">
                    <div class="t" style="padding-right: 10px;">操作时间<span class="sort-ico" style="padding-right:90px"><i class="icon-caret-up"></i><i class="icon-caret-down"></i></span></div>
                    <div class="form-group j_bubble j_datebetween">
                        <input type="text" class="form-control input-xs j_datepicker" placeholder="开始" id="operat_time_s">
                        <input type="text" class="form-control mt-1 input-xs j_datepicker" placeholder="结束" id="operat_time_e">
                    </div>
                </td>
                <td style="width: 146px;" align="center">
                    <div class="t">操作人角色<span class="sort-ico" style="padding-right:35px;">
                        <i class="icon-caret-up"></i><i class="icon-caret-down"></i></span></div>
                    <select class="form-control" id="operator_part_q" name="operator_part_q">
                        <option value="">请选择</option>
                        <option value="1">教师</option>
                        <option value="3">管理员</option>
                    </select>
                </td>
                <td style="width: 78px;" align="center">
                    <div class="t">操作</div>
                    <button class="btn btn-success float-none j_bubble" type="button" id="employeeSeatchBut">搜索
                    </button>
                </td>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
        <nav class="pagination-wrap clearfix" style="height: 70px;margin-top:-22px">
        </nav>
    </div>

    <!-- ‘查看’弹出框 -->
    <div class="modal modal-noline fade" id="addAccountModal" tabindex="-1" role="dialog" aria-labelledby="addAccountModalLabel" aria-hidden="true">
        <div class="modal-outer">
            <div class="modal-middle">
                <div class="modal-dialog modal-inner w-65 float-none">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"></button>
                        </div>
                        <div class="modal-body p-1 pt-3 pl-5">
                            <form class="form-horizontal" action="" method="post"   id="add_account_form">
                                <div class="form-group ">
                                    <h2>操作日志详情</h2>

                                </div>
                                <div class="form-group ">
                                    <label class="control-label w-20" style="text-align: left" id="seq_no"></label>
                                    <label class="control-label w-7" style="margin: 0 auto" id="operator_name"></label>
                                    <label class="control-label w-7" style="margin: 0 auto" id="operator_part"></label>
                                    <label class="control-label w-24" style="float: right" id="operat_time"></label>
                                </div>
                                <div class="form-group ">
                                    <textarea style="width: 100%;height: 100px;" id="remarks"></textarea>
                                </div>

                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--    &lt;!&ndash; 表格共通&ndash;&gt;-->
        <script src="js/table-ajax.js"></script>
    <!--私有js-->
    <script src="js/backstage/operation_record.js"></script>
    <!--end-->
</div>