<div id="questions_manage_page">
    <!--start-->
    <ol class="breadcrumb">
        <li><a>运维</a></li>
        <li class="active">试题管理</li>
    </ol>
    <div class="main-box main-box-noborder overflow-hidden" style="padding-top: 12px">
        <table class="table-style-1 table-style-1-a table-hover mb-0-5" id="questions_Table">
            <thead>
            <tr class="sch">
                <td align="center">
                    <div class="t">试题编号<span class="sort-ico" style="padding-right:20px;"><i class="icon-caret-up"></i><i class="icon-caret-down"></i></span></div>
                    <div class="form-group float-none j_bubble text-left">
                        <input class="form-control" type="text" name="seq_no_q" id="seq_no_q" placeholder="试题编号" maxlength="20">
                    </div>
                </td>
                <td width="155" align="center">
                    <div class="t text-left" >题库名<span class="sort-ico" style="padding-right:55px;"><i class="icon-caret-up"></i><i class="icon-caret-down"></i></span>
                    </div>
                    <div class="form-group float-none j_bubble">
                        <input class="form-control" type="text" name="question_q" id="question_q" placeholder="题库名" maxlength="20">
                    </div>
                </td>
                <td align="center">
                    <div class="t">题库类型<span class="sort-ico" style="padding-right:18px;"><i class="icon-caret-up"></i><i class="icon-caret-down"></i></span></div>
                    <div class="form-group float-none j_bubble">
                        <input class="form-control" type="text" name="type_q" id="type_q" placeholder="题库类型" maxlength="20">
                    </div>
                </td>
                <td align="center">
                    <div class="t">上传账户<span class="sort-ico" style="padding-right:30px;">
                            <i class="icon-caret-up"></i><i class="icon-caret-down"></i></span></div>
                    <div class="form-group float-none j_bubble">
                        <input class="form-control" type="text" name="account_id_q" id="account_id_q" placeholder="上传账户" maxlength="20">
                    </div>
                </td>
                <td align="center">
                    <div class="t">是否公开<span class="sort-ico" style="padding-right:18px;"><i class="icon-caret-up"></i><i class="icon-caret-down"></i></span></div>
                    <div class="form-group float-none j_bubble text-left w-10">
                        <select class="form-control" id="public_q" name="public_q">
                            <option value="">全部</option>
                            <option value="1">公开</option>
                            <option value="2">私有</option>
                        </select>
                    </div>
                </td>
                <td align="center">
                    <div class="t">状态<span class="sort-ico" style="padding-right:20px;">
                        <i class="icon-caret-up"></i><i class="icon-caret-down"></i></span></div>
                    <div class="form-group float-none j_bubble text-left w-10">
                        <select class="form-control" id="status_q" name="status_q">
                            <option value="">全部</option>
                            <option value="1">正常</option>
                            <option value="2">删除</option>
                        </select>
                    </div>
                </td>
                <td width="65px" align="center">
                    <div class="t">操作</div>
                    <button class="btn btn-success float-none j_bubble" type="button" id="employeeSeatchBut">搜索
                    </button>
                </td>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
        <nav class="pagination-wrap clearfix h-5">
            <div class="ml-2 mt-1 mb-2">
                <a class="form-btn-upload" id="addTL" data-toggle="modal"><i class="icon-plus-sign"></i><p style="float: left;width: 150px">添加听力试题</p></a>
                <a class="form-btn-upload" id="addTS" data-toggle="modal"><i class="icon-plus-sign"></i><p style="float: left">添加听说试题</p></a>
            </div>

        </nav>
    </div>


    <!-- 听说题弹出框 -->
    <div class="modal modal-noline fade" id="addTSdiv" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-outer">
            <div class="modal-middle">
                <div class="modal-dialog modal-inner w-65 float-none">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"></button>
                        </div>
                        <div class="modal-body p-1 pt-3 pl-5">
                            <form class="form-horizontal" action="" method="post" id="add_account_form">
                                <input id="seq_no" type="hidden" name="seq_no">
                                <div class="form-group ">
                                    <h2>听说试题</h2>

                                </div>
                                <div class="form-group ">
                                    <label class="control-label w-9">题库名：</label>
                                    <div class="w-40 relative">
                                        <input class="form-control w-32" type="text" name="question_name" id="question_name" maxlength="20" >
                                        <a href="javascript:void(0);" class="btn btn-success font-14 ml-0-5" style="width: 75px" id="TSTKYY">题库引用</a>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label class="control-label w-9">试题说明：</label>
                                    <div class="w-40 relative">
                                        <textarea style="width: 100%;height: 100px;" id="remarks"></textarea>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label class="control-label w-9">试题文件：</label>
                                    <div class="w-40 relative">
                                        <input class="form-control w-32" type="text" id="audio_url" name="audio_url" maxlength="20" placeholder="系统自动生成" disabled>
                                        <a href="javascript:void(0);" class="btn btn-success font-14 ml-0-5" style="width: 75px" id="">自己上传</a>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label class="control-label w-9">是否公开：</label>
                                    <div class="w-40 relative">
                                        <label class="radio-inline pr-1"><input type="radio" name="public" value="1" data-rule="角色:required;">公开</label>
                                        <label class="radio-inline pr-1"><input type="radio" name="public" value="2" data-rule="角色:required;" checked>不公开</label>
                                    </div>
                                </div>
                                <div class="modal-footer text-center pb-2">
                                    <button type="button" class="btn btn-default btn-default-green w-14 font-16 float-none" data-dismiss="modal" id="add_account_cancel">取消</button>
                                    <button id="save_TSquestion" type="button" class="btn btn-success w-14 font-16 float-none ml-2">保存</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 听说题库引用弹出框 -->
    <div class="modal modal-noline fade" id="TSTKdiv" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-outer">
            <div class="modal-middle">
                <div class="modal-dialog modal-inner w-65 float-none">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"></button>
                        </div>
                        <div class="modal-body p-1 pt-3 pl-5" style="height: 500px;">
                            <table class="table-style-1 table-style-1-a table-hover mb-0-5" id="TSquestion_Table">
                                <thead>
                                <tr class="sch">
                                    <td align="center">
                                        <div class="t">试题编号<span class="sort-ico" style="padding-right:20px;"><i class="icon-caret-up"></i><i class="icon-caret-down"></i></span></div>
                                        <div class="form-group float-none j_bubble text-left">
                                            <input class="form-control" type="text" name="seq_no_xq" id="seq_no_xq" placeholder="试题编号" maxlength="20">
                                        </div>
                                    </td>
                                    <td width="255" align="center">
                                        <div class="t text-left" >题库名<span class="sort-ico" style="padding-right:55px;"><i class="icon-caret-up"></i><i class="icon-caret-down"></i></span>
                                        </div>
                                        <div class="form-group float-none j_bubble">
                                            <input class="form-control" type="text" name="question_xq" id="question_xq" placeholder="题库名" maxlength="20">
                                        </div>
                                    </td>

                                    <td align="center">
                                        <div class="t">上传账户<span class="sort-ico" style="padding-right:30px;"><i class="icon-caret-up"></i><i class="icon-caret-down"></i></span></div>
                                        <div class="form-group float-none j_bubble">
                                            <input class="form-control" type="text" name="account_id_xq" id="account_id_xq" placeholder="上传账户" maxlength="20">
                                        </div>
                                    </td>
                                    <td width="65px" align="center">
                                        <div class="t">操作</div>
                                        <button class="btn btn-success float-none j_bubble" type="button" id="employeeSeatchBut_xq">搜索
                                        </button>
                                    </td>
                                </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 弹出删除确认信息 -->
    <div style="width: 30%;margin: 0 auto" class="modal modal-noline fade" id="sureDel" tabindex="-1" role="dialog"
         aria-labelledby="sureDelLabel" aria-hidden="true">
        <div class="modal-middle">
            <div class="modal-dialog-notice modal-inner">
                <div class="modal-content">
                    <div class="background-grey-2 p-1 indent-1 modal-dialog-notice-radius">
                        <span class="font-20 wryh text-zdy-2">信息确认：</span>
                    </div>
                    <div class="p-3">
                        <p class="text-center font-18 wryh text-gray-light">确认要删除该套题目吗？</p>

                        <div class="modal-footer text-center pb-2">
                            <button type="button" class="btn btn-default btn-default-blue font-16 float-none"
                                    data-dismiss="modal">取消
                            </button>
                            <button type="button" class="btn btn-primary font-16 float-none ml-1" id="confirmDialog"
                                    data-dismiss="modal">确定
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--    &lt;!&ndash; 表格共通&ndash;&gt;
        <script src="js/table-ajax.js"></script>-->
    <!--私有js-->
    <script src="js/backstage/questions_manage.js"></script>
    <!--end-->
</div>