<div id="role_manage_page">
    <!--start-->
    <ol class="breadcrumb">
        <li><a href="index.html">运维</a></li>
        <li class="active">权限管理</li>
    </ol>
    <div class="main-box main-box-noborder overflow-hidden" style="padding-top: 12px">
        <table class="table-style-1 table-style-1-a table-hover mb-0-5" id="role_Table">
            <thead>
            <tr class="sch">
                <td style="width: 15%;" align="center">
                    <div class="t text-left" >编号
                    <span class="sort-ico" style="padding-right:60px;"><i class="icon-caret-up"></i><i class="icon-caret-down"></i></span>
                    </div>
                    <div class="form-group float-none j_bubble">
                        <input class="form-control" type="text" name="seq_q" id="seq_q" placeholder="" maxlength="20">
                    </div>
                </td>
                <td style="width: 15%;" align="center">
                    <div class="t">角色<span class="sort-ico" style="padding-right:60px;"><i class="icon-caret-up"></i><i class="icon-caret-down"></i></span></div>
                    <div class="form-group float-none j_bubble">
                        <input class="form-control" type="text" name="seq_q" id="name_n" maxlength="20">
                    </div>
                </td>
                <td width="15%" align="center" class="sorting" tabindex="0" aria-controls="product_searchTab" rowspan="1" colspan="1" aria-label="
                创建时间: activate to sort column ascending" style="width: 113px;">
                    <div class="t" style="padding-right: 10px;">创建时间<span class="sort-ico" style="padding-right:34px"><i class="icon-caret-up"></i><i class="icon-caret-down"></i></span></div>
                    <div class="form-group j_bubble j_datebetween">
                        <input type="text" class="form-control input-xs j_datepicker" placeholder="开始" id="search_s">
                        <input type="text" class="form-control mt-1 input-xs j_datepicker" placeholder="结束" id="search_e">
                    </div>
                </td>
                <td width="15%" align="center" class="sorting" tabindex="0" aria-controls="product_searchTab" rowspan="1" colspan="1" aria-label="
                更新时间: activate to sort column ascending" style="width: 113px;">
                    <div class="t" style="padding-right: 10px;">更新时间<span class="sort-ico" style="padding-right:34px"><i class="icon-caret-up"></i><i class="icon-caret-down"></i></span></div>
                    <div class="form-group j_bubble j_datebetween">
                        <input type="text" class="form-control input-xs j_datepicker" placeholder="开始" id="new_s">
                        <input type="text" class="form-control mt-1 input-xs j_datepicker" placeholder="结束" id="new_e">
                    </div>
                </td>
                <td style="width: 15%;" align="center">
                    <div class="t">状态<span class="sort-ico" style="padding-right:60px;">
                        <i class="icon-caret-up"></i><i class="icon-caret-down"></i></span></div>
                    <select class="form-control" id="status_q" name="status_q">
                        <option value="">请选择</option>
                        <option value="1">未添加权限</option>
                        <option value="2">已添加权限</option>
                    </select>
                </td>
                <td style="width: 15%;" align="center">
                    <div class="t">操作</div>
                    <button class="btn btn-success float-none j_bubble" type="button" id="employeeSeatchBut">搜索
                    </button>
                </td>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
        <nav class="pagination-wrap clearfix" style="height: 20px;margin-top:-22px">
        </nav>
        <nav class="pagination-wrap clearfix">
            <div class="ml-2 mt-1 mb-2">
                <a class="form-btn-upload" id="addStaffModal" data-toggle="modal"><i class="icon-plus-sign"></i>添加新角色</a>
            </div>
        </nav>
    </div>


    <!-- 编辑角色权限 -->
    <div class="modal modal-noline fade" id="addAccountModal" tabindex="-1" role="dialog" aria-labelledby="addAccountModalLabel" aria-hidden="true">
        <div class="modal-outer">
            <div class="modal-middle">
                <div class="modal-dialog modal-inner w-65 float-none">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"></button>
                        </div>
                        <div class="modal-body p-1 pt-3 pl-5">
                            <form class="form-horizontal" action="" method="post"   id="add_account_form">
                                <input id="account_id" type="hidden" name="account_id">
                                <div class="form-group ">
                                    <label class="control-label w-9" style="font-size: 29px;width: 135px;">编辑权限</label>
                                </div>
                                <div class="form-group ">
                                    <label class="control-label w-9">角色编号：</label>
                                    <div class="w-40 relative">
                                        <input id="idLab" class="form-control w-32" type="text" name="account_id" maxlength="20"  disabled>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label class="control-label w-9">角色名称：</label>
                                    <div class="w-40 relative">
                                        <input id="nameLab" class="form-control w-32" type="text" name="account_id" maxlength="20" >
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label class="control-label w-9">权限：</label>
                                    <div class="w-40 relative">
                                        <input id="check1" type="checkbox">
                                        <label style="font-size: 16px;font-weight: 500;margin-top: 7px;margin-right: 8px;">用户管理</label>
                                        <input id="check2" type="checkbox">
                                        <label style="font-size: 16px;font-weight: 500;margin-top: 7px;margin-right: 8px;">权限管理</label>
                                        <input id="check3" type="checkbox">
                                        <label style="font-size: 16px;font-weight: 500;margin-top: 7px;margin-right: 8px;">数据字典</label>
                                        <br>
                                        <input id="check4" type="checkbox">
                                        <label style="font-size: 16px;font-weight: 500;margin-top: 7px;margin-right: 8px;">操作日志</label>
                                        <input id="check5" type="checkbox">
                                        <label style="font-size: 16px;font-weight: 500;margin-top: 7px;margin-right: 8px;">教师权限</label>
                                        <input id="check6" type="checkbox">
                                        <label style="font-size: 16px;font-weight: 500;margin-top: 7px;margin-right: 8px;">学生权限</label>
                                    </div>
                                </div>
                                <div class="modal-footer text-center pb-2">
                                    <button type="button" class="btn btn-default btn-default-green w-14 font-16 float-none" data-dismiss="modal" id="add_account_cancel">取消</button>
                                    <button id="save_account" type="button" class="btn btn-success w-14 font-16 float-none ml-2">保存</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 确定框 -->
    <div class="modal modal-noline fade" id="delAccountModal" tabindex="-1" role="dialog" aria-labelledby="addAccountModalLabel" aria-hidden="true">
        <div class="modal-outer">
            <div class="modal-middle">
                <div class="modal-dialog modal-inner w-65 float-none">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"></button>
                        </div>
                        <div class="modal-body p-1 pt-3 pl-5" style="margin: -12px 19px 0px -23px;">
                            <form class="form-horizontal" action="" method="post"   id="add_account_form">
                                <input id="account_id" type="hidden" name="account_id">
                                <div class="form-group ">
                                    <label class="control-label w-9" style="font-size: 29px;width: 284px;">是否确定删除此角色</label>
                                </div>
                                <div class="modal-footer text-center pb-2">
                                    <button type="button" class="btn btn-default btn-default-green w-14 font-16 float-none" data-dismiss="modal" id="add_account_cancel">取消</button>
                                    <button id="del_account" type="button" class="btn btn-success w-14 font-16 float-none ml-2">确定</button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 添加角色 -->
    <div class="modal modal-noline fade" id="newAccountModal" tabindex="-1" role="dialog" aria-labelledby="addAccountModalLabel" aria-hidden="true">
        <div class="modal-outer">
            <div class="modal-middle">
                <div class="modal-dialog modal-inner w-65 float-none">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"></button>
                        </div>
                        <div class="modal-body p-1 pt-3 pl-5">
                            <form class="form-horizontal" action="" method="post"   id="add_account_form">
                                <input id="account_id" type="hidden" name="account_id">
                                <div class="form-group ">
                                    <label class="control-label w-9" style="font-size: 29px;width: 135px;">添加角色</label>
                                </div>
                                <div class="form-group ">
                                    <label class="control-label w-9">角色编号：</label>
                                    <div class="w-40 relative">
                                        <input id="newidLab" class="form-control w-32" type="text" name="account_id" maxlength="20" placeholder="系统自动生成" disabled>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label class="control-label w-9">角色名称：</label>
                                    <div class="w-40 relative">
                                        <input id="newnameLab" class="form-control w-32" type="text" name="account_id" maxlength="20" >
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label class="control-label w-9">权限：</label>
                                    <div class="w-40 relative">
                                        <input id="Ncheck1" type="checkbox">
                                        <label style="font-size: 16px;font-weight: 500;margin-top: 7px;margin-right: 8px;">用户管理</label>
                                        <input id="Ncheck2" type="checkbox">
                                        <label style="font-size: 16px;font-weight: 500;margin-top: 7px;margin-right: 8px;">权限管理</label>
                                        <input id="Ncheck3" type="checkbox">
                                        <label style="font-size: 16px;font-weight: 500;margin-top: 7px;margin-right: 8px;">数据字典</label>
                                        <br>
                                        <input id="Ncheck4" type="checkbox">
                                        <label style="font-size: 16px;font-weight: 500;margin-top: 7px;margin-right: 8px;">操作日志</label>
                                        <input id="Ncheck5" type="checkbox">
                                        <label style="font-size: 16px;font-weight: 500;margin-top: 7px;margin-right: 8px;">教师权限</label>
                                        <input id="Ncheck6" type="checkbox">
                                        <label style="font-size: 16px;font-weight: 500;margin-top: 7px;margin-right: 8px;">学生权限</label>
                                    </div>
                                </div>
                                <div class="modal-footer text-center pb-2">
                                    <button type="button" class="btn btn-default btn-default-green w-14 font-16 float-none" data-dismiss="modal" id="add_account_cancel">取消</button>
                                    <button id="new_account" type="button" class="btn btn-success w-14 font-16 float-none ml-2">保存</button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--    &lt;!&ndash; 表格共通&ndash;&gt;-->
        <script src="js/table-ajax.js"></script>
    <!--私有js-->
    <script src="js/backstage/role_manage.js"></script>
    <!--end-->
</div>