
<div id="TLquestions_manage_page">
    <!--start-->
    <ol class="breadcrumb">
        <li><a>运维</a></li>
        <li class="active">听力试题</li>
    </ol>
    <div class="main-box p-1-5">
        <form class="form-horizontal ng-pristine ng-valid nice-validator n-yellow" style="margin: 20px 0px 0 30px" id="package_step1Form">
            <!-- 隐藏的题目id-->
            <input type="text" id="question_seq_no" style="display: none" value="<%=seq_no%>" disabled>

            <div class="form-group">
                <label class="control-label w-9">试题名称：</label>

                <div class="w-40 relative">
                    <input id="question_name" class="form-control w-30 required" type="text" name="name" data-rule="required;" maxlength="256" placeholder="引用题库将自动填充整页">
                    <a href="javascript:void(0);" class="btn btn-success font-14 ml-0-5" style="width: 78px" id="TLTKYY">引用题库</a>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label w-9 relative">音频文件：</label>

                <div class="w-40 relative">
                    <input id="audio_name" class="form-control w-30" data-rule="required;" disabled type="text" maxlength="32" placeholder="上传文件后自动生成">
                </div>
            </div>
            <div class="form-group">
                <tr>
                    <td align="left" class="style_or" style="padding: 0% 0% 1% 41%;"></td>
                    <td class="msg text-gray-lighter font-12 mt-0-5">
                        <div class="w-70 ml-9 float-none clearfix">
                            <ul class="alert-policy-01 pull-left clearfix" id="img_cover_ul">
                            </ul>
                            <div class="roompic-upload w-12">
                                <a id="add_top_img" href="#" class="btn btn-success font-14 ml-0-5 form-btn-upload"><i class="icon-plus-sign"></i>添加文件</a>
                                <div id="unknow" style="width:24px;height:18px;position: fixed;z-index: 999;margin: -44px 0 0 -56px;font-size:12px;overflow:hidden;color: white" hidden></div>

                            </div>

                        </div>
                    </td>
                </tr>
            </div>
            <div class="form-group">
                <label class="control-label w-9 relative">试题说明：</label>
                <div class="w-40 relative">
                    <textarea id="remarks" class="form-control required" data-rule="required;" style="height: 100px;" type="text" placeholder="对于本套试题的概述（如：《高考听力套卷一》）"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label w-9 relative">公开：</label>
                <div class="w-40 relative">
                    <input id="public" style="margin-top: 9px" type="checkbox" >
                </div>
            </div>
            <div class="timu w-76 alert alert-dismissable alert-policy-01 pull-left clearfix clearfix form-group j_theme_choose">
                <label class="control-label w-9">题目：</label>
                <input name="Q_T" class="form-control w-40 required" data-rule="required;" type="text" maxlength="256" placeholder="问题描述">
                <label class="control-label w-9">分值：</label>
                <input name="Q_S" class="form-control w-12" type="text" maxlength="256" placeholder="不填则默认5分">
                <br>
                <br>
                <button type="button" class="close closefirst" data-dismiss="alert" data-id="1" style="position: inherit;margin: -69px -28px 0 0;"></button>
                <div>
                    <ul class="y-theme-choose-list clearfix" id="themeChoose">

                        <li style="width: 310px;margin: 10px 0 0 90px">
                            <label style="float: left"><input style="margin-top: 10px" type="checkbox" name="Q_CA">A</label>
                            <input name="Q_A" class="form-control w-23 ml-1" type="text" placeholder="答案A，没有则不填">
                        </li>
                        <li style="width: 310px;margin-top: 10px">
                            <label style="float: left"><input style="margin-top: 10px" type="checkbox" name="Q_CB">B</label>
                            <input name="Q_B" class="form-control w-23 ml-1" type="text" placeholder="答案B，没有则不填">
                        </li>
                        <li style="width: 310px;margin: 10px 0 0 90px">
                            <label style="float: left"><input style="margin-top: 10px" type="checkbox" name="Q_CC">C</label>
                            <input name="Q_C" class="form-control w-23 ml-1" type="text" placeholder="答案C，没有则不填">
                        </li>
                        <li style="width: 310px;margin-top: 10px">
                            <label style="float: left"><input style="margin-top: 10px" type="checkbox" name="Q_CD">D</label>
                            <input name="Q_D" class="form-control w-23 ml-1" type="text" placeholder="答案D，没有则不填">
                        </li>
                    </ul>
                </div>
            </div>

        </form>
        <div class="form-horizontal ng-pristine ng-valid nice-validator n-yellow" style="margin: 20px 0px 0 30px" >
            <button class="btn btn-success w-12 float-none" id="add_question">添加题目</button>
            <label class="control-label w-9" style="margin-left:-12px;float:none" id="que_num">共 1 题</label>
        </div>

        <div class="text-center mt-5 mb-2" id="btnn">
            <button class="btn btn-default btn-default-green w-12 float-none close11" style="margin: 0 50px 0 0 ">关闭</button>
            <button class="btn btn-success w-12 float-none" id="save_question">提交</button>
        </div>


    </div>


    <!-- 听力题库引用弹出框 -->
    <div class="modal modal-noline fade" id="TLTKdiv" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-outer">
            <div class="modal-middle">
                <div class="modal-dialog modal-inner w-65 float-none">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"></button>
                        </div>
                        <div class="modal-body p-1 pt-3 pl-5" style="height: 500px;">
                            <table class="table-style-1 table-style-1-a table-hover mb-0-5" id="TLquestion_Table">
                                <thead>
                                <tr class="sch">
                                    <td align="center">
                                        <div class="t">试题编号<span class="sort-ico" style="padding-right:20px;"><i class="icon-caret-up"></i><i class="icon-caret-down"></i></span></div>
                                        <div class="form-group float-none j_bubble text-left">
                                            <input class="form-control" type="text" name="seq_no_xq" id="seq_no_xq" placeholder="试题编号" maxlength="20">
                                        </div>
                                    </td>
                                    <td width="255" align="center">
                                        <div class="t text-left" >题库名<span class="sort-ico" style="padding-right:55px;"><i class="icon-caret-up"></i><i class="icon-caret-down"></i></span>
                                        </div>
                                        <div class="form-group float-none j_bubble">
                                            <input class="form-control" type="text" name="question_xq" id="question_xq" placeholder="题库名" maxlength="20">
                                        </div>
                                    </td>

                                    <td align="center">
                                        <div class="t">上传账户<span class="sort-ico" style="padding-right:30px;"><i class="icon-caret-up"></i><i class="icon-caret-down"></i></span></div>
                                        <div class="form-group float-none j_bubble">
                                            <input class="form-control" type="text" name="account_id_xq" id="account_id_xq" placeholder="上传账户" maxlength="20">
                                        </div>
                                    </td>
                                    <td width="65px" align="center">
                                        <div class="t">操作</div>
                                        <button class="btn btn-success float-none j_bubble" type="button" id="employeeSeatchBut_xq">搜索
                                        </button>
                                    </td>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!--    &lt;!&ndash; 表格共通-->
    <script src="js/table-ajax.js"></script>
    <!--私有js-->
    <script src="js/backstage/TLquestions_manage.js"></script>
    <!--end-->
</div>