<div id="value_mapping_page">
    <!--start-->
    <ol class="breadcrumb">
        <li><a href="index.html">运维</a></li>
        <li class="active">数据字典</li>
    </ol>
    <div class="main-box main-box-noborder overflow-hidden" style="padding-top: 12px">
        <table class="table-style-1 table-style-1-a table-hover mb-0-5" id="account_Table">
            <thead>
            <tr class="sch">
                <td style="width: 15%;" align="center">
                    <div class="t text-left" >编号
                    <span class="sort-ico" style="padding-right:60px;"><i class="icon-caret-up"></i><i class="icon-caret-down"></i></span>
                    </div>
                    <div class="form-group float-none j_bubble">
                        <input class="form-control" type="text" name="seq_q" id="seq_q" placeholder="" maxlength="20">
                    </div>
                </td>
                <td style="width: 15%;" align="center">
                    <div class="t">类型<span class="sort-ico" style="padding-right:60px;"><i class="icon-caret-up"></i><i class="icon-caret-down"></i></span></div>
                    <div class="form-group float-none j_bubble">
                        <input class="form-control" type="text" name="type" id="type" maxlength="20">
                    </div>
                </td>
                <td style="width: 15%;" align="center">
                    <div class="t">关键字<span class="sort-ico" style="padding-right:54px;"><i class="icon-caret-up"></i><i class="icon-caret-down"></i></span></div>
                    <div class="form-group float-none j_bubble">
                        <input class="form-control" type="text" name="key_name" id="key_name" maxlength="20">
                    </div>
                </td>
                <td style="width: 15%;" align="center">
                    <div class="t">名称<span class="sort-ico" style="padding-right:60px;"><i class="icon-caret-up"></i><i class="icon-caret-down"></i></span></div>
                    <div class="form-group float-none j_bubble">
                        <input class="form-control" type="text" name="name_n" id="name_n" maxlength="20">
                    </div>
                </td>
                <td width="15%" align="center" class="sorting" tabindex="0" aria-controls="product_searchTab" rowspan="1" colspan="1" aria-label="
                创建时间: activate to sort column ascending" style="width: 113px;">
                    <div class="t" style="padding-right: 10px;">创建时间<span class="sort-ico" style="padding-right:34px"><i class="icon-caret-up"></i><i class="icon-caret-down"></i></span></div>
                    <div class="form-group j_bubble j_datebetween">
                        <input type="text" class="form-control input-xs j_datepicker" placeholder="开始" id="search_s">
                        <input type="text" class="form-control mt-1 input-xs j_datepicker" placeholder="结束" id="search_e">
                    </div>
                </td>
                <td style="width: 15%;" align="center">
                    <div class="t">操作</div>
                    <button class="btn btn-success float-none j_bubble" type="button" id="employeeSeatchBut">搜索
                    </button>
                </td>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
        <nav class="pagination-wrap clearfix" style="height: 20px;margin-top:-22px">
        </nav>
        <nav class="pagination-wrap clearfix">
            <div class="ml-2 mt-1 mb-2">
                <a class="form-btn-upload" id="addmap" data-toggle="modal"><i class="icon-plus-sign"></i>添加新字典</a>
            </div>
        </nav>
    </div>


    <!--编辑字典-->
    <div class="modal modal-noline fade" id="addMapModal" tabindex="-1" role="dialog" aria-labelledby="addAccountModalLabel" aria-hidden="true">
        <div class="modal-outer">
            <div class="modal-middle">
                <div class="modal-dialog modal-inner w-65 float-none">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"></button>
                        </div>
                        <div class="modal-body p-1 pt-3 pl-5">
                            <form class="form-horizontal" action="" method="post"   id="add_account_form">
                                <input id="account_id" type="hidden" name="account_id">
                                <div class="form-group ">
                                    <label id="areaLab" class="control-label w-9" style="font-size: 29px;width: 135px;"></label>
                                </div>
                                <div class="form-group ">
                                    <label class="control-label w-9">类型编号：</label>
                                    <div class="w-40 relative">
                                        <input id="idLab" class="form-control w-32" type="text" name="account_id" maxlength="20" placeholder ="系统自动生成" disabled>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label class="control-label w-9">关键字：</label>
                                    <div class="w-40 relative">
                                        <input id="keyLab" class="form-control w-32" type="text" name="account_id" maxlength="20" >
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label class="control-label w-9">班级名称：</label>
                                    <div class="w-40 relative">
                                        <input id="nameLab" class="form-control w-32" type="text" name="account_id" maxlength="20" >
                                    </div>
                                </div>
                                <div class="modal-footer text-center pb-2">
                                    <button type="button" class="btn btn-default btn-default-green w-14 font-16 float-none" data-dismiss="modal" id="add_account_cancel">取消</button>
                                    <button id="save_map" type="button" class="btn btn-success w-14 font-16 float-none ml-2">保存</button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 确定框 -->
    <div class="modal modal-noline fade" id="delMapModal" tabindex="-1" role="dialog" aria-labelledby="addAccountModalLabel" aria-hidden="true">
        <div class="modal-outer">
            <div class="modal-middle">
                <div class="modal-dialog modal-inner w-65 float-none">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"></button>
                        </div>
                        <div class="modal-body p-1 pt-3 pl-5" style="margin: -12px 19px 0px -23px;">
                            <form class="form-horizontal" action="" method="post"   id="add_account_form">
                                <input id="account_id" type="hidden" name="account_id">
                                <div class="form-group ">
                                    <label class="control-label w-9" style="font-size: 29px;width: 284px;">是否确定删除此字典</label>
                                </div>
                                <div class="modal-footer text-center pb-2">
                                    <button type="button" class="btn btn-default btn-default-green w-14 font-16 float-none" data-dismiss="modal" id="add_account_cancel">取消</button>
                                    <button id="del_map" type="button" class="btn btn-success w-14 font-16 float-none ml-2">确定</button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--    &lt;!&ndash; 表格共通&ndash;&gt;-->
        <script src="js/table-ajax.js"></script>
    <!--私有js-->
    <script src="js/backstage/value_mapping.js"></script>
    <!--end-->
</div>